version: '3.8'

services:
  client:
      stdin_open: true
      environment:
        - CHOKIDAR_USEPOLLING=true
      build:
        dockerfile: Dockerfile
        # context: ./client
        context: .
      ports:
        - "3000:80"