.text{
    text-align: center;
 
    margin-top: 20px;
    position: relative;
  
    font-size: 30px;
  
    letter-spacing: 2px;
    background: linear-gradient(90deg, #3b0cb4, #3454a4, #6e98e0);
    background-repeat:round;
    background-size: 85%;
    animation: animate 15s infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }