.Homepage_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
   
    justify-content: center;
    align-items: center;
     color: #fff; 
    text-align: center;
    margin-bottom: 76px;
    direction: rtl;
    /* position: absolute; */
   
}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* .p {
   
    background-image: none;
    background-color: transparent;
  } */
/*   
.home_title ,.home_info1,.home_info , .home-banner__start-btn{
    background-image: url("S.jpg");
    background-color: transparent;
} */
.home_img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    /* position: absolute; */
    /* z-index: -1; */
}
.home_title{
    font-size: 48px;
    font-weight: 800;
}
.home-banner__start-btn{
    font-family: 'BYekan';
    height: 56px;
    width: 256px;
    color: #fff;
    padding: 16px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 32px;
    box-shadow: 0 0 0 6px rgba(30, 47, 151, 0.2);
    border: none;
    background-color: #1DA7EC;
    margin-top: 32px;
    cursor: pointer;
}
.home-banner__start-btn:hover {    
    box-shadow: 0 0 0 6px rgba(26, 167, 236, 0.5);
}
.home_info{
    margin-top: 30px;
    font-size: 24px;
}
.home_info1{
    margin-top: 20px;
    font-size: 24px;
}
@media (max-width: 600px) {
    .home-banner__start-btn{
        width: 300px;
    }
}
@media (max-width: 400px) {
    .home-banner__start-btn{
        width: 220px;
    }
    .home_info{
        font-size: 17px;
    }
    .home_info1{
        font-size: 17px;
    }
    .home_title{
        font-size: 38px;
    }
}


/* CSS */
/* .button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
} */


/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}