@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Dana-FaNum";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #070028;
}

::-webkit-scrollbar-thumb {
  background: #435685;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e4376;
}
.Toastify__toast--error {
  font-family: "Dana-FaNum", Helvetica, Arial, serif !important;
}

.Toastify__toast--warning {
  font-family: "Dana-FaNum", Helvetica, Arial, serif !important;
}
.Toastify__toast--success {
  font-family: "Dana-FaNum", Helvetica, Arial, serif !important;
}

.Toastify__toast--warning:hover {
  box-sizing: 0 !important;
  box-shadow: none !important;
}

.Toastify__toast--error:hover {
  box-sizing: 0 !important;
  box-shadow: none !important;

}

.Toastify__toast--success:hover {
  box-sizing: 0 !important;
  box-shadow: none !important;
}
